{% extends "homebase.html" %}

{% block title %} {{ product.title }} {% endblock %}
{% block keywords %} {{ product.keywords }} {% endblock %}
{% block description %} {{ product.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block sidebar %} {% endblock %}

{% block content %}
    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-12">
                    <div id="gmap" class="contact-map">


                        <div class="breadcrumbs">
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Foods</a></li>
                                <li><a href="/category/{{ product.category_id }}/{{ product.category.slug }}">{{ product.category }}</a></li>
                                <li class="active">{{ product.title }}</li>
                            </ol>
                        </div><!--/breadcrums-->


                        {% load static %}
                        <section>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="left-sidebar">
                                            <h2>Category</h2>
                                            <div class="panel-group category-products" id="accordian"><!--category-productsr-->


                                                <div class="row">
                                                    <div class="col-sm-9">
                                                        <div class="mainmenu pull-left">
                                                            {% load mptt_tags %}
                                                            <ul class="nav navbar-nav collapse navbar-collapse">
                                                                {% recursetree category %}
                                                                    <br><li   {% if not node.is_leaf_node %} class="dropdown" aria-expanded="true" {% endif %}><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}{% if not node.is_leaf_node %}<i class="fa fa-angle-down"></i>{% endif %}</a>

                                                                    {% if not node.is_leaf_node %}
                                                                        <ul role="menu" class="sub-menu">
                                                                            <li><a href="/category/{{ node.slug }}">{{ children }}</a></li>

                                                                        </ul>
                                                                    {% endif %}
                                                                </li>
                                                                {% endrecursetree %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>





                                            </div><!--/category-products-->
                                            <div class="brands_products"><!--brands_products-->
                                                <h2>Brands</h2>
                                                <div class="brands-name">
                                                    <ul class="nav nav-pills nav-stacked">
                                                        <li><a href=""> <span class="pull-right">(50)</span>Acne</a></li>
                                                        <li><a href=""> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                                                        <li><a href=""> <span class="pull-right">(27)</span>Albiro</a></li>
                                                        <li><a href=""> <span class="pull-right">(32)</span>Ronhill</a></li>
                                                        <li><a href=""> <span class="pull-right">(5)</span>Oddmolly</a></li>
                                                        <li><a href=""> <span class="pull-right">(9)</span>Boudestijn</a></li>
                                                        <li><a href=""> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
                                                    </ul>
                                                </div>
                                            </div><!--/brands_products-->
                                        </div>
                                    </div>

                                    <div class="col-sm-9 padding-right">
                                        <div class="product-details"><!--product-details-->
                                            <div class="col-sm-5">
                                                <div class="view-product">
                                                    <img src="{{ product.image.url }}"  alt="" />
                                                    <h3>ZOOM</h3>
                                                </div>
                                                <div id="similar-product" class="carousel slide" data-ride="carousel">

                                                    <!-- Wrapper for slides -->
                                                    <div class="carousel-inner">

                                                        <div class="item active">
                                                            <a href=""><img src="{{ product.image.url }}"  style="height: 84px" width="84px" alt=""></a>

                                                            {% for rs in images %}
                                                                <a href=""><img src="{{ rs.image.url }}" style="height: 84px" width="84px" alt=""></a>
                                                            {% endfor %}
                                                        </div>


                                                    </div>

                                                    <!-- Controls -->
                                                    <a class="left item-control" href="#similar-product" data-slide="prev">
                                                        <i class="fa fa-angle-left"></i>
                                                    </a>
                                                    <a class="right item-control" href="#similar-product" data-slide="next">
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </div>

                                            </div>
                                            <div class="col-sm-7">
                                                <div class="product-information"><!--/product-information-->
                                                    <img src="{% static 'images/product-details/new.jpg' %}" class="newarrival" alt="" />
                                                    <h2>{{ product.title }}</h2>

                                                    <img src="{% static 'images/product-details/rating.png' %}" alt="" />
                                                    <span>
                                                        <p>{{ product.description }}</p>
									<span>{{ product.price }}₺</span>

                                    <form action="/order/addtocart/{{ product.id }}" method="post">
                                        {% csrf_token %}

									<label>Quantity:</label>
									<input type="number" class="input" name="quantity" min="1" max="{{ product.amount }}" value="1" />
									<button type="submit" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
                                        </form>
								</span>

                                                    <p><b>Condition:</b> New</p>
                                                    <p><b>Brand:</b> E-SHOPPER</p>
                                                    <a href=""><img src="{% static 'images/product-details/share.png' %}" class="share img-responsive"  alt="" /></a>
                                                </div><!--/product-information-->
                                            </div>
                                        </div><!--/product-details-->

                                        <div class="category-tab shop-details-tab"><!--category-tab-->
                                            <div class="col-sm-12">
                                                <ul class="nav nav-tabs">
                                                    <li><a href="#details" data-toggle="tab">Details</a></li>
                                                    <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
                                                </ul>
                                            </div>
                                            <div class="tab-content">
                                                <div class="tab-pane fade" id="details" >


                                                    {{product.detail | safe}}
                                                </div>


                                                <div class="tab-pane fade active in" id="reviews" >
                                                    <div class="col-sm-12">

                                                        {% for rs in comments %}
                                                            <ul>
                                                            <li><a href=""><i class="fa fa-user"></i>{{rs.user.first_name}}</a></li>
                                                            <li><a href=""><i class="fa fa-clock-o"></i>{{rs.create_at}}</a></li>


                                                            <div class="rating-area">
                                                                <ul class="ratings">
                                                                    <li>
                                                                        <i class="fa fa-star color{% if rs.rate < 1 %}color{% endif %}"></i>
                                                                        <i class="fa fa-star color{% if rs.rate < 2 %}color{% endif %}"></i>
                                                                        <i class="fa fa-star color{% if rs.rate < 3 %}color{% endif %}"></i>
                                                                        <i class="fa fa-star color{% if rs.rate < 4 %}color{% endif %}"></i>
                                                                        <i class="fa fa-star color{% if rs.rate < 5 %}color{% endif %}"></i>
                                                                    </li>
                                                                </ul>
                                                            </div><!--/rating-area-->


                                                            <h4>{{ rs.subject }}</h4>
                                                            <p>{{ rs.comment }}</p>
                                                            <br>{% endfor %}
                                                        <p><b>Write Your Review</b></p>

                                                        {% if messages %}
                                                            {% for message in messages %}
                                                                <div class="alert alert-{{ message.tags }}" role="alert">
                                                                    {{ message }}
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}


                                                        <form action="/food/addcomment/{{ product.id }}" method="post">
                                                            {% csrf_token %}
                                                            <span>
											<input type="text" class="input" name="subject" id="id_subject" placeholder="Subject"/>

										</span>
                                                            <textarea name="comment" class="input" id="id_comment" placeholder="Your review" ></textarea>





                                                            <div class="rating-area">

                                                                <div class="ratings">
                                                                    <input type="radio"  class="fa fa-star color" id="star5" name="rate" value="5" /><label for="star5"></label>
                                                                    <input type="radio" class="fa fa-star color" id="star4" name="rate" value="4" /><label for="star4"></label>
                                                                    <input type="radio" class="fa fa-star color" id="star3" name="rate" value="3" /><label for="star3"></label>
                                                                    <input type="radio" class="fa fa-star color" id="star2" name="rate" value="2" /><label for="star2"></label>
                                                                    <input type="radio" class="fa fa-star color" id="star1" name="rate" value="1" /><label for="star1"></label>
                                                                </div><br><br>
                                                                {% if user.id is not None %}
                                                                    <button class="btn btn-default pull-right">
                                                                        Submit
                                                                    </button>
                                                                {% else %}
                                                                    Yorum Eklemek için <a href="/login">Login</a>  Olunuz!!
                                                                {% endif %}
                                                            </div>
                                                        </form>




                                                    </div>

                                                </div>
                                            </div><!--/category-tab-->

                                        </div>
                                    </div>
                        </section>

                    </div>
                </div>
            </div>



            <div class="row">



            </div>
        </div>
    </div><!--/#contact-page-->
{% endblock %}
