{% extends "homebase.html" %}

{% block title %}{{ categorydata.title }} Products {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block sidebar %} {% endblock %}

{% block content %}




    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-12">
                    <div id="gmap" class="contact-map">

                        <div class="col-sm-12">
                            <div class="features_items"><!--features_items-->
                                <h2 class="title text-center">{{categorydata.title}} Menüleri</h2>

                                {% for rs in products %}

                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="{{  rs.image.url }} " style="height: 249px;width: 272px" alt="" />
                                                    <h2>{{ rs.price }}₺</h2>
                                                    <p>{{ rs.title }}</p>
                                                    <a href="/food/{{ rs.id }}/{{ rs.slug }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <h2>{{ rs.price }}₺</h2>
                                                        <p>{{ rs.title }}</p>
                                                         <a href="/food/{{ rs.id }}/{{ rs.slug }}" class="btn btn-default add-to-cart"><i class="fa fa-search"></i>Quick View</a>
                                                        <a href="/food/{{ rs.id }}/{{ rs.slug }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>

                    </div><!--features_items-->

                </div>

            </div>
        </div>
    </div>
    <div class="row">



    </div>
    </div>
    </div><!--/#contact-page-->
{% endblock %}
